doctype html

html
  header
    title Something
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js")
    script(src="/js/script.js")

  body(ng-app='quotes')
    block content

    footer
      .footer Copyright 2015, who cares
