extend codinghouse

block content
  div(ng-controller='QuoteCtrl')
    ul
      li(ng-repeat='quote in quotes') {{quote}}

    form.form-control(ng-submit='postQuote()')
      input(type='text', name='quote', ng-model='quote')
      button(type='submit') add to list
